<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ydacademy.dell.Yashodeep2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.TabActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.CareerDetailsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.LoginActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.SyllabusActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.ChapterActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.ydacademy.dell.Yashodeep2.TestActivity"
            android:launchMode="singleInstance" />

        <activity
            android:name="com.ydacademy.dell.Yashodeep2.ResultActivity"
            android:launchMode="singleInstance" />
        <activity android:name="com.ydacademy.dell.Yashodeep2.DescriptionActivity" />


        <activity
            android:name="com.ydacademy.dell.Yashodeep2.StartTest"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.ydacademy.dell.Yashodeep2.SuccessStories"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.ydacademy.dell.Yashodeep2.DirectorInfo"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity

            android:name="com.ydacademy.dell.Yashodeep2.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.ydacademy.dell.Yashodeep2.TenthActivity" />

        <activity
            android:name="com.ydacademy.dell.Yashodeep2.AboutUs"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.ContactUs"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.OurAchievers"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.ImpQuestions"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name="com.ydacademy.dell.Yashodeep2.ListQuestions" />
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.StaffActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.CareerGuidance"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.Performance"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ydacademy.dell.Yashodeep2.StudentStatforAdmin"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.ydacademy.dell.Yashodeep2.AchieversDescription"></activity>
    </application>

</manifest>